LOG_LEVEL=silent

SERVER_HOSTNAME=
SERVER_PORT=

STOREFRONT_HOSTNAME=
STOREFRONT_PORT=

DATABASE_URL=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
EMAIL_VERIFY_TOKEN_SECRET=
RESET_TOKEN_SECRET=
COOKIE_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
