NODE_ENV=development
LOG_LEVEL=debug

SERVER_HOSTNAME=localhost
SERVER_PORT=4000

STOREFRONT_HOSTNAME=localhost
STOREFRONT_PORT=3000

POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432
POSTGRES_DB=tantovale_db

PAYMENT_PROVIDER_SECRET_KEY=
PAYMENT_PROVIDER_WEBHOOK_SECRET=

SHIPPING_PROVIDER_SECRET_KEY=
SHIPPING_PROVIDER_WEBHOOK_SECRET=

ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
EMAIL_VERIFY_TOKEN_SECRET=your_email_token_secret
RESET_TOKEN_SECRET=your_reset_token_secret
COOKIE_SECRET=your_cookie_token_secret

AWS_REGION=eu-central-1
AWS_BUCKET_NAME=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=

SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=

# GITHUB ACTIONS WORKFLOW KEYS
DAILY_ORDER_PROPOSALS_CHECK_SECRET_KEY=
DAILY_ORDER_CHECK_SECRET_KEY=